html {
    --primary: #C1CAD6;
    --secondary: #D4ADCF;
}

body {
    background-color: var(--primary);
}

.form-control:focus,
.btn:hover {
    border-color: var(--secondary);
    box-shadow: 0 0 0 .25rem var(--secondary);
}

.btn:hover,
.btn:focus {
    color: black;
    background-color: #EAD7E7;
    box-shadow: 0 0 0 .25rem var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 .25rem #EAD7E7;
}