html {
    --primary: #C1CAD6;
    --secondary: #D4ADCF;
}

body {
    background-color: var(--primary);
}

.input:focus,
.input-btn:hover {
    border-color: var(--secondary);
    box-shadow: 0 0 0 .25rem var(--secondary);
}

.input-btn:hover,
.input-btn:focus {
    color: black;
    background-color: #EAD7E7;
    box-shadow: 0 0 0 .25rem var(--secondary);
    border-color: var(--secondary);
}

.input-btn:active:focus {
    box-shadow: 0 0 0 .25rem #EAD7E7;
}

.list-group-item{
    background-color: #DDE1E4;
}